.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
form{
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    height: 200px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px;
}

.task-name{
    margin:10px;
}

input[type='text']{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 93%;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    padding: 10px;
    border-radius: 10px;
    width: 93%;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid grey;
}

.task-description{
    margin:10px;
}

input[type='submit']{
    padding: 5px;
    border:2px solid grey;  
    border-radius: 5px;
    margin: 10px;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
}

li{
    list-style:none;
    margin: 10px;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.delete-button{
    margin-block:10px;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;   
}

.delete-button:hover{
    cursor:pointer;
}

.update-button{
    margin: 10px;
    padding: 5px;
    width: 50px;
    background-color:cadetblue;
    border-radius: 5px;
}